/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 親コンテナの高さを指定 
  } */
  
  .MsgSetBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* ボタンの背景色 */
    color: rgb(12, 86, 39); /* ボタンのテキスト色 */
    border-radius: 5px; /* ボタンの角を丸くする */
    cursor: pointer; /* マウスホバー時にカーソルをポインタに */
  }
  
  .MsgSetBtn:hover {
    /* background-color: #45a049;  */
        color: #f5f5f5;
    background-color: hsl(127, 90%, 44%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  