label {
    /* display: block; */
}

.items-container{
    display: flex;
    font-weight: bolder;
    justify-content: flex-end;
    font-size: 20px;
    margin: 5px 15px 1px 1px; 
}

.radio-item{
    flex-direction: row;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}